* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px dotted red; */
    vertical-align: top;
    color: blue;
    background: white
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #132dd9;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.374);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


/* @media only screen and (max-width: 480px) {
    #header {
        background-color: green;
        height: 90px;
    }
    #nav {
        display: none;
    }
    #body {
        width: 94%;
    }
    .box {
        width: 94%;
        min-height: 90px;
    }
    #ad {
        width: 94%;
        min-height: 70px;
    }
}

@media only screen and (min-width: 481px) and (max-width:1023px) {
    #nav {
        display: none;
    }
    #body {
        width: 97%;
    }
    #header {
        width: 97%;
    }
    .box {
        width: 47%;
        min-height: 200px;
    }
    #ad {
        width: 97%;
        min-height: 150px;
    }
} */


/* @media only screen and (min-width: 1024px) {
    .lg0 {
        display: none;
    }
} */